[submodule "references/memory/beads"]
	path = references/memory/beads
	url = https://github.com/steveyegge/beads
[submodule "testing/agentic-qe/cf-devpod"]
	path = testing/agentic-qe/cf-devpod
	url = https://github.com/cf-devpod/cf-devpod
